html{
    font-size: 20px;
    background-color: rgb(33, 33, 33);
}

body {
    font-family: Arial;
    color: grey;
    background-color: rgb(33, 33, 33);
    
  }

  h1, h2, h4{
    font-family: 'Montserrat', sans-serif;
    line-height: 3em;
  }

  span{
    font-size: 20px;
   
  }


li a{
  color: rgb(43, 43, 43);
  text-decoration: none;
}

  h5{
    font-family: 'Montserrat', sans-serif;
    line-height: 1em;
    color: rgb(220, 220, 220);
    font-size: 50px;
}
  
  .container-main {
    width: 75%;
    float: left;
    height: 100vh;
    overflow: scroll;
    max-width: 100%;
}


.inline-block{
    display: inline-block;
    padding: 20px;
}

.text-block {
color: rgb(213, 213, 213);
}

.column1 p{
font-size: 17px;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 20px;    
  }
  

.grid-container > div {
  
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border-radius: 6px;
    box-shadow:  2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
  }

.row{
        display: inline-flex;
        text-align:center;
        padding: 15px;
        width: 100%;
     }

     

    
/* Menu */
  
  .sidenav {
    height: 30%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 0.5;
    
    
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: rgb(255, 182, 25);
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  /*Gallery*/
  .full{
width: 100%;
  }
  
  :root {
    --gutter: 20px;
  }
  
  .app {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
  }
  
  .app > * {
    grid-column: 2 / -2;
  }
  
  .app > .full {
    grid-column: 1 / -1;
  }
  
  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px repeat(12, calc(50% - var(--gutter) * 2)) 10px;
    grid-template-rows: minmax(200px, 1fr);
    
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.5 * var(--gutter));
    height: 200px;
  }
  
  .hs:before,
  .hs:after {
    content: '';
  }
  
  /* Hide scrollbar */
  .hide-scroll {
    overflow-y: hidden;
    margin-bottom: calc(-.1 * var(--gutter));
    
  }
  
  
  /* Demo styles */
  .hs > li,
  .item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;

  }



  /*Gallery Home page*/
  #img0{
    background-image: url(images/Heroku_express.png);
    background-size: cover;
  }

  #img1{
    background-image: url(images/WEB420-12.png);
    background-size: cover;
  }

  #img2{
    background-image: url(images/WEB420-13.png);
    background-size: cover;
  }

  #img3{
    background-image: url(images/WEB420-14.png);
    background-size: cover;
  }

  #img4{
    background-image: url(images/WEB420-17.png);
    background-size: cover;
  }

  #img5{
    background-image: url(images/WEB420-16.png);
    background-size: cover;
  }

  #img6{
    background-image: url(images/WEB420-15.png);
    background-size: cover;
  }

  #img7{
    background-image: url(images/WEB420-15.png);
    background-size: cover;
  }

  #img8{
    background-image: url(images/In-n-out-books.png);
    background-size: cover;
  }

  #img9{
    background-image: url(images/BCRimg.png);
    background-size: cover;
  }

  #img10{
    background-image: url(images/Screen\ Shot\ 2021-10-11\ at\ 1.57.00\ PM.png);
    background-size: cover;
  }

  .item:hover  {
    color:#000;
    opacity:0.25;
    border-radius:30px;

}

/*arrow homepage*/
.arrowpos{
  position: relative;
  margin-left: 65%;
  margin-bottom: -15px;
}

.arrow,
.arrow:before {
  position: absolute;
  
}

.arrow{
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(-42deg);
  border-left: none;
  border-top: none;
  border-right: 3px rgb(255, 182, 25)  solid;
  border-bottom: 3px rgb(255, 182, 25)  solid
}
  
.arrow:before{
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  margin: -7px 0 0 -7px;
  border-left: none;
  border-top: none;
  border-right: 3px rgb(255, 182, 25) solid;
  border-bottom: 3px rgb(255, 182, 25) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
  
@keyframes arrow{
  0%{
    opacity: (1);
  }
  100%{
    opacity: (0);
    transform: translate(-5px, -5px)
}
  }

/*Footer*/
footer {
  display: flex;
  justify-content: left;
  padding-left: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  font-size: 10px;
}